<div>
    <header>
        <button id="bt2" type="button" class="btn btn-primary btn-lg" routerLink="/profile">Modifier mon profil</button>
        <button id="bt1" type="button" class="btn btn-primary btn-lg" routerLink="/enfant">Mes Enfants</button>
        <!--<button type="button" class="btn btn-primary btn-lg" (click)="changerCouleur()" [style.background]="getGradient()">Large button</button>
        <button type="button" class="btn btn-primary btn-lg" (click)="changerCouleur()" [style.background]="getGradient()">Large button</button>
        -->
    </header>
</div>
<router-outlet></router-outlet>